/DirectXTK-master/Bin
/Debug
/Release
/SnowScene/Debug
/SnowScene/Release
/SnowScene/FX/Basic.fxo
/SnowScene/FX/Fire.cod
/SnowScene/FX/Fire.fxo
/SnowScene/FX/LightHelper.cod
/SnowScene/FX/LightHelper.fxo
/SnowScene/FX/Sky.cod
/SnowScene/FX/Sky.fxo
/SnowScene/FX/Snow.cod
/SnowScene/FX/Snow.fxo
/SnowScene/FX/Terrain.cod
/SnowScene/FX/Terrain.fxo
/SnowScene/FX/Basic.cod
